<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../scripts/script.js"></script>
    <title>Vimeo Video Uploader API</title>
</head>
<body>
    <form action="/" method="post" enctype="multipart/form-data">
        <input type="file" name="vimeoVideo"><br>
        <input type="submit">
    </form>
    <div id="vimeoVideo">
    
    </div>
</body>
</html>